{% extends "layout.html" %}
{% block title %}Joe's To-Do App{% endblock %}
$('.datepicker').datepicker();
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Joes cool version of another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for title, items in view_model.items.items() %}
      <h2>{{title}}</h2>
      <ul class="list-group mb-4">
        <table id="{{title}}">
          {% if title == 'Done' and  view_model.has_hidden %}
          <td>
            <form action="/?show_hidden=true" method="POST">
              <input type="submit" value="Show All">
            </form>
          </td>
          {% endif %}
          {% if title == 'Done' and view_model.show_hidden %}
          <td>
            <form action="/" method="POST">
              <input type="submit" value="Hide Old">
            </form>
          </td>
          {% endif %}
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Actions</th>
          </tr>
          {% for todo in items %}
          <tr>
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>
              <form action="/desc?id={{todo.id}}" method="POST">
                <input type="text" id="desc" name="desc" value="{{todo.desc}}" required>
                <input type="submit" value="update">
              </form>
            </td>
            <td>
              <form action="/due?id={{todo.id}}" method="POST">
                <input type="date" id="due" name="date" value="{{todo.due}}" required>
                <input type="submit" value="update">
              </form>
            </div>
            </td>
            {% if todo.status == 'To Do' %}
            <td>
              <form action="/start?id={{todo.id}}" method="POST">
                <input type="submit" value="Start">      
              </form>
            </td>
            {% endif %}
            {% if todo.status == 'Doing' %}
            <td>
            <form action="/done?id={{todo.id}}" method="POST">
              <input type="submit" value="Done">      
            </form>
            </td>
            {% endif %}
            <td>
              <form action="/delete?id={{todo.id}}" method="POST">
                <input type="submit" value="Delete">      
              </form>
            </td>
          </tr>
          {% endfor %}
        </table>
      </ul>
      {% endfor %}
      <h2>Add new To-Do</h2>
        <form action="/add-new" method="POST">
          <label for="title">Title:</label>
          <input type="text" id="new_title" name="title" value="New to do" required>
          <label for="desc">Description:</label>
          <input type="text" id="new_desc" name="desc" value="">
          <label for="due">Due Date:</label>
          <input type="date" id="new_due" name="date">
          <input type="submit" value="Submit">
        </form>
    </div>
  </div>
{% endblock %}